<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/ethereumjs/browser-builds@2fb69a714afe092b06645286f14b94f41e5c062c/dist/ethereumjs-tx.js"></script>
    <script>

        const util = EthJS.Util;

        const promisify = (func, ...args) =>
            new Promise((resolve, reject) =>
                func(...args, (err, value) =>
                    (err ? reject(err) : resolve(value))
                )
            );

        const el = (tag, s) => {
            const e = document.createElement(tag);
            if (s) {
                e.innerText = s || '';
            }
            return e;
        };

        const getAccounts = () => {
            return JSON.parse(window.localStorage.getItem('ethAccounts') || '[]');
        }

        const addAccount = (f) => {
            const accounts = getAccounts();

            const privKey = f.querySelector('input').value;
            const address = util.bufferToHex(util.privateToAddress(privKey))
            account = {
                address: address,
                privateKey: privKey
            };

            if (!accounts.find(x => x.address === address)) {
                accounts.push(account);
            }

            console.log(accounts);
            window.localStorage.setItem('ethAccounts', JSON.stringify(accounts));
            doLogin(account.address);
        }

        const sizedHex = (msg, size) => {
            const buf = [...new Array(size)].map(() => '0').join('');
            if (msg.length < length) {
                msg.copy(buf, length - msg.length)
                return buf
            }
            return msg.slice(-length)
        }

        const doLogin = (account) => {
            fetch(`/token/${account}`, {
                credentials: 'include',
            })
                .then(resp => resp.json())
                .then(respJSON => {
                    // console.debug('Login message', window.location.host + '|' + respJSON.token);

                    const with_prefix = (message) => {
                        return "\u0019Ethereum Signed Message:\n" + message.length + message;
                    }

                    const msgHash = util.sha3(with_prefix(window.location.host + '|' + respJSON.token));
                    const accounts = getAccounts();
                    const privKey = accounts.filter(x => x.address === account)[0].privateKey;
                    const sig = util.ecsign(msgHash, util.toBuffer(privKey));

                    const serializeSigElement =
                        e => util.setLengthLeft(util.toUnsigned(util.fromSigned(e)), 32).toString('hex');
                    const r = serializeSigElement(sig.r);
                    const s = serializeSigElement(sig.s);
                    const v = util.stripHexPrefix(util.intToHex(util.bufferToInt(sig.v)));

                    const signed = util.addHexPrefix(r.concat(s, v).toString("hex"));

                    return Promise.resolve(signed);
                })
                .then(signed_token => fetch('/login', {
                    body: JSON.stringify({ signed_token }),
                    headers: {
                        'content-type': 'application/json'
                    },
                    credentials: 'include',
                    method: 'POST',
                }))
                .then(resp => {
                    if (resp.ok) {
                        window.location = '/'
                    } else {
                        return Promise.reject(resp.statusText);
                    }
                })
                .catch(e => {
                    console.error(e);
                    alert('Login failed. See developer console for details');
                });
        };

        const fillAccounts = () => {
            const accounts = document.querySelector('#existing>fieldset');
            new Promise((resolve) => {
                const l = getAccounts();
                resolve(l ? l.map(x => x.address) : []);
            })
                .then(l => {
                    if (l.length > 0) {
                        l.forEach(account => {
                            const b = el('button', account);
                            b.setAttribute('formaction', `javascript:doLogin("${account}")`);
                            accounts.appendChild(b);
                        })
                    } else {
                        accounts.appendChild(el('p', 'No accounts'));
                    }
                });
        }

        window.onload = () => {
            fillAccounts();
        };          
    </script>
    <h1>Login with Ethereum</h1>
    <form id="existing">
        <fieldset>
            <legend>
                <h4>Local Accounts</h4>
            </legend>
        </fieldset>
    </form>
    <form name="f" action="javascript:addAccount(f)">
        <fieldset>
            <legend>
                <h4>Add Account</h4>
            </legend>
            <input type="text" placeholder="Private key" pattern="0x[\d\w]{64}">
            <button>Add</button>
        </fieldset>
    </form>

</body>

</html>