<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Message board</title>
    <style>
        article img[src="/static/verified.svg"] {
            opacity: 0;
        }
        footer {
            display: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <form name="f" action="javascript:post(f)" style="display: none;">
        <fieldset>
            <legend>
                <h4>Post</h4>
            </legend>
            <input name="msg" type="text" placeholder="Write a message" required>
            <button>Post</button>
        </fieldset>
    </form>

    <main>
        <h1>Messages</h1>
        {% for m in messages %}
        <article data-sig="{{ m.signature }}">
            <p>{{ m.message }}</p>
            <details>
                <summary>
                    <img src="/static/verified.svg">
                    <a href="http://ropsten.etherscan.io/address/{{ m.author }}" rel="author">{{ m.author }}</a>
                </summary>
                <aside>
                    Signature <small>{{ m.signature }}</small>
                </aside>
            </details>
        </article>
        <hr> {% endfor %}
    </main>

    <footer>
        You can independently verify any message posted here with an online signature validator: <a href="https://etherscan.io/verifySig">Etherscan</a> <a href="https://www.etherchain.org/tools/verifySignature">Etherchain</a> <a href="https://www.myetherwallet.com/signmsg.html">MyEtherWallet</a>
    </footer>

    <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.min.js"></script>
    <script src="https://cdn.rawgit.com/ethereumjs/browser-builds/ddb27f8d/dist/ethereumjs-tx/ethereumjs-tx-1.3.3.js"></script>
    <script>
        const util = ethereumjs.Util;

        const promisify = (func, ...args) =>
            new Promise((resolve, reject) =>
                func(...args, (err, value) =>
                    (err ? reject(err) : resolve(value))
                )
            );

        const el = (tag, s) => {
            const e = document.createElement(tag);
            if (s) {
                e.innerText = s || '';
            }
            return e;
        };

        const post = (f) => {
            const message = f.elements['msg'].value;
            promisify(web3.eth.getAccounts)
                .then(([account]) =>
                    promisify(web3.personal.sign, web3.toHex(message), account)
                        .then(signature => fetch('/post', {
                            body: JSON.stringify({ message, signature, author: account }),
                            headers: {
                                'content-type': 'application/json'
                            },
                            method: 'POST',
                        }))
                        .then(resp => resp.ok ? Promise.resolve(resp) : Promise.reject(resp))
                        .then(() => window.location.reload()))
                .catch(console.error);
        };

        const validateMessages = () => {
            /*  
                TODO
                Iterate over main>article tags
                and validate the post author by verifying the
                signature
            */
            const with_prefix = (message) => {
                return "\u0019Ethereum Signed Message:\n" + message.length + message;
            }

            document.querySelectorAll('main>article')
                .forEach(article => {
                    const author = article.querySelector('a[rel=author]').innerText;
                    const msg = article.querySelector('p').innerText;
                    const sig = article.dataset.sig;

                    const msgHash = util.sha3(with_prefix(msg));
                    const sigObj = util.fromRpcSig(sig);
                    const publicKey = util.ecrecover(msgHash, sigObj.v, sigObj.r, sigObj.s);
                    const addressBuffer = util.publicToAddress(publicKey);
                    const address = util.bufferToHex(addressBuffer);

                    if (author === address) {
                        article.querySelector('img[src="/static/verified.svg"]').style.opacity = 1;
                    }
                });
        }

        window.onload = () => {
            // Checking if Web3 has been injected by the browser (Mist/MetaMask)
            if (typeof web3 !== 'undefined') {
                // Use Mist/MetaMask's provider
                web3 = new Web3(web3.currentProvider);

                promisify(web3.eth.getAccounts)
                    .then(accounts => {
                        if (accounts.length > 0) {
                            document.querySelector("form").style.display = "block";
                        }
                    })
            } else {
                web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/***REMOVED***'));
            }
            validateMessages();
        };          
    </script>

</body>

</html>